@-moz-document domain("tanstack.com") {
  pre code {
    font-size: 13px;
    line-height: 1.59;
    letter-spacing: 0.25px;
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("www.reddit.com") {
  code,
  kbd,
  pre,
  samp {
    font-size: 13px;
    line-height: 1.59;
    letter-spacing: 0.25px;
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("vitest.dev") {
  pre,
  code,
  kbd,
  samp {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
    line-height: 1.59;
    letter-spacing: 0.25px;
  }

  .vp-doc[class*='language-'] code {
    font-size: 13px;
  }
}

@-moz-document regexp("^\\w+-extension://.+")
{
  .CodeMirror {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
    font-size: 13px;
    line-height: 1.5;
  }
}

@-moz-document domain("github.com") {
  :root {
    --fontStack-monospace: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
  }

  div[class^=ReferencedEventInner] p /* commits that reference an issue in /issue/xxxx */,
  textarea[class^=prc-Textarea] /* Extended description textarea in PR merge box */ {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
  }

  .markdown-body .highlight pre,
  .markdown-body pre {
    font-size: 13px !important;
    line-height: 1.59 !important;
  }

  .react-code-text,
  .blob-code-inner {
    font-size: 13px;
  }

  .js-snippet-clipboard-copy-unpositioned
    .markdown-body
    .snippet-clipboard-content,
  .js-snippet-clipboard-copy-unpositioned .markdown-body .highlight {
    border-radius: 8px;
  }
}

@-moz-document domain("interactive-examples.mdn.mozilla.net") {
  .cm-editor .cm-scroller {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document domain("nextui.org") {
  code,
  kbd,
  pre,
  samp,
  .font-mono {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document domain("zod.dev") {
  code,
  kbd,
  pre,
  samp,
  .font-mono {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document domain("stackblitz.com") {
  .view-lines {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
  }
}

@-moz-document domain("typescriptlang.org") {
  .view-lines {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document domain("app.todoist.com") {
  .root,
  code,
  kbd,
  pre,
  samp {
    --reactist-font-family-monospace: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-family: var(--reactist-font-family-monospace);
  }
}

@-moz-document domain("nodejs.org") {
  pre,
  tt,
  code,
  .pre,
  span.type,
  a.type {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document url-prefix("https://git-scm.com")
{
  code,
  .synopsis > em,
  #documentation #main div.verseblock pre.content,
  .tooltip-content a,
  #documentation #main p em,
  #documentation #main dt.hdlist1,
  a[href^='\/docs'] {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document url-prefix("https://www.google.com/search")
{
  code {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px;
  }
}

@-moz-document domain("supabase.com") {
  code,
  kbd,
  pre,
  samp,
  .font-mono,
  .input-mono input,
  .input-mono textarea {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
  }

  .Code .token-line {
    font-size: 13px;
  }
}

@-moz-document domain("react.dev") {
  .sandpack {
    --sp-font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }

  code,
  kbd,
  pre,
  samp,
  .sandpack .sp-code-editor .sp-pre-placeholder {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("nextjs.org") {
  :root {
    --font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("vercel.com") {
  :root {
    --font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("console.prisma.io") {
  .ps {
    --font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("biomejs.dev") {
  @layer starlight.base {
    :root, ::backdrop {
      --__sl-font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
      --sl-font-system-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
    }
  }
}

@-moz-document domain("claude.ai") {
  :root {
    --font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }

  pre.code-block__code {
    font-weight: 400;
  }
}

@-moz-document domain("daisyui.com") {
  :root {
    --font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }

  @layer utilities {
    @media (min-width: 48rem) {
      .md\:prose-base
        :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)),
      .md\:prose-base
        :where(h2 code):not(
          :where([class~='not-prose'], [class~='not-prose'] *)
        ) {
        font-size: 1.1em;
        line-height: 1.5em;
      }
    }
  }
}

@-moz-document domain("vuejs.org") {
  :root {
    --vt-font-family-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }

  .CodeMirror pre {
    font-family: var(--vt-font-family-mono);
  }

  .vue-repl {
    --font-code: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("nuxt.com") {
  @layer theme {
    :host,
    :root {
      --font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
    }
  }
}

@-moz-document domain("git.bigdatatech.vn") {
  :root {
    --fonts-monospace: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("mui.com") {
  @layer mui {
    [class^='css'] {
      code,
      .class-name,
      .class-key,
      .MuiApi-table-item-title,
      .MuiApi-table-item-type,
      .MuiApi-table-item-default {
        font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
      }
    }
  }
}

@-moz-document domain("ohmyposh.dev") {
  code,
  code[class*='language-'],
  pre[class*='language-'] {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
    font-size: 13px;
  }
}

@-moz-document url-prefix("http://localhost:51212")
{
  .ps,
  .ps :host {
    --font-mono: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("www.prisma.io") {
  :root,
  :host {
    --font-mono: 'Roboto Mono', 'IBM Plex Mono';
  }
}
