@-moz-document domain("tanstack.com") {
  pre code {
    font-size: 13px;
    line-height: 1.59;
    letter-spacing: 0.25px;
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("www.reddit.com") {
  code,
  kbd,
  pre,
  samp {
    font-size: 13px;
    line-height: 1.59;
    letter-spacing: 0.25px;
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
  }
}

@-moz-document domain("vitest.dev") {
  pre,
  code,
  kbd,
  samp {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
    line-height: 1.59;
    letter-spacing: 0.25px;
  }

  .vp-doc [class*='language-'] code {
    font-size: 13px;
  }
}

@-moz-document regexp("^\\w+-extension://.+")
{
  .CodeMirror {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
    font-size: 13px;
    line-height: 1.5;
  }
}

@-moz-document domain("github.com") {
  kbd,
  code,
  samp,
  pre,
  .sha-block,
  .file-info,
  .text-mono,
  .commit-ref,
  .blob-code-inner,
  .react-code-text,
  .input-monospace,
  .FormControl-monospace {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    letter-spacing: 0.25px;
  }

  .markdown-body .highlight pre,
  .markdown-body pre {
    font-size: 13px !important;
    line-height: 1.59 !important;
  }

  .react-code-text,
  .blob-code-inner {
    font-size: 13px;
  }

  .js-snippet-clipboard-copy-unpositioned .markdown-body .snippet-clipboard-content,
  .js-snippet-clipboard-copy-unpositioned .markdown-body .highlight {
    border-radius: 8px;
  }
}

@-moz-document domain("interactive-examples.mdn.mozilla.net") {
  .cm-editor .cm-scroller {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document domain("nextui.org") {
  code,
  kbd,
  pre,
  samp,
  .font-mono {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document domain("zod.dev") {
  code,
  kbd,
  pre,
  samp,
  .font-mono {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document domain("stackblitz.com") {
  .view-lines {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
  }
}

@-moz-document domain("typescriptlang.org") {
  .view-lines {
    font-family: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    line-height: 1.59 !important;
    letter-spacing: 0.25px;
  }
}

@-moz-document domain("app.todoist.com") {
  .root,
  code,
  kbd,
  pre,
  samp {
    --reactist-font-family-monospace: 'Roboto Mono', 'IBM Plex Mono', monospace !important;
		font-family: var(--reactist-font-family-monospace);
  }
}
